In [1]:
import numpy as np
import pandas as pd

In [2]:

donors = pd.read_excel('Выгрузка для ЯП_2.xlsx', sheet_name='Доноры')
donats = pd.read_excel('Выгрузка для ЯП_2.xlsx', sheet_name='Пожертвования')

display(donors.head(10))
display(donats.head(10))

,ID,Пол,Город,Дата последней email активности
0,AF575B85-917F-475D-8875-00055586E05B,NaN,NaN,NaT
1,229A9B43-3A15-4A48-8CB6-000EDB240D50,NaN,NaN,NaT
2,C6606486-05A8-4437-ACF9-00344E54FEE1,NaN,NaN,NaT
3,6ED86154-A688-4A11-868F-006209035413,Женский ...,NaN,NaT
4,46C41E20-EA56-4698-9C37-00692FD6FFE8,Женский ...,NaN,NaT
5,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,NaN,2022-07-18 17:36:39
6,20AC64AC-190E-4091-8D2E-00832BED87C5,Женский ...,NaN,2022-07-18 16:29:53
7,0E516427-6B84-4268-AB70-009E9E1FD026,NaN,NaN,NaT
8,3845EBA8-054E-465D-98CE-00A2758E3F92,NaN,NaN,NaT
9,530A44DC-46A2-48E6-962F-00A67997F7A1,Женский ...,NaN,2022-07-18 16:29:50

,Donor ID,Дата платежа,Сумма платежа,Рекуррентный,Назначение платежа,Канал оплаты
0,DE5393F9-9585-4057-B7FB-24B69697FC08,2022-07-03 19:49:48,300.0,Да ...,ПОЖЕРТВОВАНИЕ undefined,Банковские карты
1,81CD4BEF-443E-4D36-B34F-664E11182D65,2020-03-14 12:20:02,300.0,Нет ...,SMS bdd,SMS
2,D3BEB76D-D8B6-47E2-8109-44F1B278943B,2022-04-07 00:00:00,16.0,Нет ...,Добровольное пожертвование. НДС не облагается,Прямые поступления на счет
3,F1310736-B229-4AAC-99B7-F13ACECF67CB,2019-12-26 02:25:42,300.0,Нет ...,NaN,SMS
4,61C3D86B-39DA-445C-9D7F-9924CE9BDA14,2021-06-26 01:26:07,200.0,Да ...,ПОЖЕРТВОВАНИЕ undefined,Банковские карты
5,6FDEE73B-0270-4AFA-BA21-579E5B970D6A,2017-08-26 18:16:27,100.0,Да ...,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты
6,F66CEFEF-38BB-4E7A-A795-207E19A03005,2017-06-28 14:15:06,2000.0,Да ...,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты
7,C09905A1-2059-4FAB-B74B-F52B5913CF84,2020-06-01 14:43:58,200.0,Да ...,ПОЖЕРТВОВАНИЕ,Банковские карты
8,BBA4E944-A48D-44B8-A0E6-E4FEB6486097,2021-12-07 17:32:21,500.0,Да ...,ПОЖЕРТВОВАНИЕ undefined,Банковские карты
9,08C3988B-C0FF-44EE-83BF-5A75E18110D2,2019-11-05 20:59:40,100.0,Да ...,ПОЖЕРТВОВАНИЕ undefined,Банковские карты

In [3]:
# сравним количество уникальных id в обеих датасетах
display(len(donors['ID'].unique()))
len(donats['Donor ID'].unique())

3683

3683

In [4]:
# т.к. количество уникальных id равны, объединим таблицы в одну,
# предварительно переименовав столбец в donats

donats = donats.rename(columns={'Donor ID' : 'ID'})

df = donats.merge(donors, how='left', on = 'ID')
df.head()

,ID,Дата платежа,Сумма платежа,Рекуррентный,Назначение платежа,Канал оплаты,Пол,Город,Дата последней email активности
0,DE5393F9-9585-4057-B7FB-24B69697FC08,2022-07-03 19:49:48,300.0,Да ...,ПОЖЕРТВОВАНИЕ undefined,Банковские карты,Женский ...,Москва,2022-06-03 20:15:57
1,81CD4BEF-443E-4D36-B34F-664E11182D65,2020-03-14 12:20:02,300.0,Нет ...,SMS bdd,SMS,Женский ...,Москва,2022-07-18 17:19:02
2,D3BEB76D-D8B6-47E2-8109-44F1B278943B,2022-04-07 00:00:00,16.0,Нет ...,Добровольное пожертвование. НДС не облагается,Прямые поступления на счет,Мужской ...,NaN,NaT
3,F1310736-B229-4AAC-99B7-F13ACECF67CB,2019-12-26 02:25:42,300.0,Нет ...,NaN,SMS,NaN,NaN,NaT
4,61C3D86B-39DA-445C-9D7F-9924CE9BDA14,2021-06-26 01:26:07,200.0,Да ...,ПОЖЕРТВОВАНИЕ undefined,Банковские карты,Женский ...,NaN,2022-07-20 20:32:37

In [5]:
# переименуем столбцы, приведя их к змеиному регистру
df = df.rename(columns = 
              {
                  'ID':'id',
                  'Дата платежа':'date',
                  'Сумма платежа':'sum',
                  'Пол':'gender',
                  'Город':'city',
                  'Назначение платежа' : 'purpose',
                  'Рекуррентный' : 'is_reccurent',
                  'Канал оплаты' : 'channel',
                  'Дата последней email активности': 'last_email_activity'
                  
              }
              )
df.columns

Index(['id', 'date', 'sum', 'is_reccurent', 'purpose', 'channel', 'gender',
       'city', 'last_email_activity'],
      dtype='object')

In [6]:
# посмотрим процентное соотношение пропусков
df.isna().sum()/len(df['id'])

id                     0.000000
date                   0.000000
sum                    0.000000
is_reccurent           0.000000
purpose                0.090365
channel                0.000000
gender                 0.111799
city                   0.520188
last_email_activity    0.211493
dtype: float64

In [7]:
# посмотрим соотношение между городом и общей суммой пожертвований

city_total_sum = df.groupby('city', as_index=False)['sum'].sum()
city_total_sum = city_total_sum.sort_values(by='sum', ascending=False).head(50)
city_total_sum.head(20)

                  city          sum
142             Москва  11878614.00
187    Санкт-Петербург    815789.16
232             Якутск    204273.00
144             Мытищи    183050.00
128          Краснодар    182761.00
35            San Jose    158500.00
13   Frankfurt am Main    129500.00
186             Самара    125416.00
179     Ростов-на-Дону     98805.00
159           Одинцово     93862.00
195               Сочи     75415.00
12     Fort Lauderdale     70000.00
15            Helsinki     65675.00
135          Лыткарино     50000.00
86        Екатеринбург     47265.00
33                Riga     46000.00
125            Королев     30500.00
76              Вольск     29988.00
59            Балашиха     29450.00
153    Нижний Новгород     28210.00